{% load static %}

<h1>Cadastro de Publicadores</h1>
{% if messages %}
    {% for message in messages %}
        <div>
            <p>{{ message }}</p>
        </div>
    {% endfor %}
{% endif %}

<form action="." method="post">
    {% csrf_token %}
    <p>
        <label for="{{ form.name.id_for_label }}">{{ form.name.label }}:</label>
        {{ form.name.errors }}
        {{ form.name }}
    </p>

    <p>
        <label for="{{ form.address.id_for_label }}">{{ form.address.label }}:</label>
        {{ form.address.errors }}
        {{ form.address }}
    </p>

    <p>
        <label for="{{ form.phone.id_for_label }}">{{ form.phone.label }}:</label>
        {{ form.phone.errors }}
        {{ form.phone }}
    </p>

    <p>
        <label for="{{ form.email.id_for_label }}">{{ form.email.label }}:</label>
        {{ form.email.errors }}
        {{ form.email }}
    </p>

    <p>
        <label for="{{ form.gender.id_for_label }}">{{ form.gender.label }}:</label>
        {{ form.gender.errors }}
        {{ form.gender }}
    </p>

    <p>
        <label for="{{ form.designation.id_for_label }}">{{ form.designation.label }}:</label>
        {{ form.designation.errors }}
        {{ form.designation }}
    </p>

    <p>
        <label for="{{ form.group.id_for_label }}">{{ form.group.label }}:</label>
        {{ form.group.errors }}
        {{ form.group }}
    </p>

    <p>
        <label for="{{ form.car.id_for_label }}">{{ form.car.label }}:</label>
        {{ form.car.errors }}
        {{ form.car }}
    </p>

    <input type="submit" value="Cadastrar"/>


</form>